In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('student-data.csv')

In [3]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,passed
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,no,no,4,3,4,1,1,3,6,no
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,yes,no,5,3,3,1,1,3,4,no
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,yes,no,4,3,2,2,3,3,10,yes
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,yes,3,2,2,1,1,5,2,yes
4,GP,F,16,U,GT3,T,3,3,other,other,...,no,no,4,3,2,1,2,5,4,yes

In [4]:
df.shape

(395, 31)

In [5]:
type(df)

pandas.core.frame.DataFrame

In [7]:
df.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'passed'],
      dtype='object')

In [8]:
#Data Exploration
#Let's begin bystud investigating the dataset to determine how many students we have information on, and learn about the graduation rate among these students. In the code cell below, you will need to compute the following:

#The total number of students, n_students.
#The total number of features for each student, n_features.
#The number of those students who passed, passedstud.
#The number of those students who failed, failedstud.
#The graduation rate of the class, grad_rate, in percent (%).

In [10]:
passed = df.loc[df.passed=='yes', 'passed']
passedstud = passed.shape[0]

In [18]:
print(passedstud)

265

In [17]:
failed = df.loc[df.passed=='no', 'passed']
failedstud= failed.shape[0]
print(failedstud)

130

In [19]:
total = float(passedstud+failedstud)
print(total)

395.0

In [21]:
grad_percentage= (passedstud*100/total)
print(grad_percentage)

67.0886075949367

In [24]:
# Print the results
print('number of total studets: {}'.format(total))
print("Number of students who passed: {}".format(passedstud))
print("Number of students who failed: {}".format(failedstud))
print("Graduation rate of the class: {:.2f}%".format(grad_percentage))

number of total studets: 395.0
Number of students who passed: 265
Number of students who failed: 130
Graduation rate of the class: 67.09%

In [25]:
#Calculate number of features
n_features = df.shape[1] - 1
print("number of total features:{}".format(n_features))

number of total features:30

In [34]:
for i in df:
    if df[i].dtype=='object':
        df[i]=df[i].replace(['yes', 'no'], [1,0])    #If data type is non-numeric, replace all yes/no values with 1/0
    if df[i].dtype=='object':     
        df[i]=pd.get_dummies(df[i], prefix=i)         ##If data type is catogorical,convert to dummy variables

In [35]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,passed
0,1,1,18,0,1,1,4,4,1,0,...,0,0,4,3,4,1,1,3,6,0
1,1,1,17,0,1,0,1,1,1,0,...,1,0,5,3,3,1,1,3,4,0
2,1,1,15,0,0,0,1,1,1,0,...,1,0,4,3,2,2,3,3,10,1
3,1,1,15,0,1,0,4,2,0,0,...,1,1,3,2,2,1,1,5,2,1
4,1,1,16,0,1,0,3,3,0,0,...,0,0,4,3,2,1,2,5,4,1

In [40]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [41]:
x = df.iloc[:,0:-1]
y=df.iloc[:,-1]

x_train,x_test,y_train,y_test=train_test_split(x,y, test_size= .33, random_state=47)

In [44]:
mod = [RandomForestClassifier(), GaussianNB(),LogisticRegression(),SVC()]
for k in mod:
    print(k)
    k.fit(x_train,y_train)
    pred = k.predict(x_test)
    print("\naccuracy score:\n", accuracy_score(y_test, pred))
    print("\nconfusion matrix:\n", confusion_matrix(y_test, pred))
    print("\nclassification_report:\n", classification_report(y_test, pred))

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators='warn', n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

accuracy score:
 0.648854961832061

confusion matrix:
 [[13 28]
 [18 72]]

classification_report:
               precision    recall  f1-score   support

           0       0.42      0.32      0.36        41
           1       0.72      0.80      0.76        90

   micro avg       0.65      0.65      0.65       131
   macro avg       0.57      0.56      0.56       131
weighted avg       0.63      0.65      0.63       131

GaussianNB(priors=None, var_smoothing=1e-09)

accuracy score:
 0.6564885496183206

confusion matrix:
 [[19 22]
 [23 67]]

classification_report:
               precision    recall  f1-score   support

           0       0.45      0.46      0.46        41
           1       0.75      0.74      0.75        90

   micro avg       0.66      0.66      0.66       131
   macro avg       0.60      0.60      0.60       131
weighted avg       0.66      0.66      0.66       131

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

accuracy score:
 0.6717557251908397

confusion matrix:
 [[14 27]
 [16 74]]

classification_report:
               precision    recall  f1-score   support

           0       0.47      0.34      0.39        41
           1       0.73      0.82      0.77        90

   micro avg       0.67      0.67      0.67       131
   macro avg       0.60      0.58      0.58       131
weighted avg       0.65      0.67      0.66       131

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

accuracy score:
 0.7022900763358778

confusion matrix:
 [[ 6 35]
 [ 4 86]]

classification_report:
               precision    recall  f1-score   support

           0       0.60      0.15      0.24        41
           1       0.71      0.96      0.82        90

   micro avg       0.70      0.70      0.70       131
   macro avg       0.66      0.55      0.53       131
weighted avg       0.68      0.70      0.63       131

In [ ]:
#Answer:
First, the model learns how a student's performance indicators lead to whether a student will graduate or otherwise. The model can do this because we already have existing data on students who have and have not graduated, so our model can learn the performance indicators of those students. Based on the student's performance indicators, the model would output a weight for each performance indicator.

With this in mind, the second step is predicting whether new students would graduate or otherwise. This time we do not have information on existing students whether they have graduated or not as they are still studying. However, we have a model that learned from previous batches of students who graduated. The new students' performance indicators with their respective weights will be fed into our model and the model will output a probability and students will be classified according to whether they are "likely to graduate" or "unlikely to graduate". We can then take preventive measures on students who are unlikely to graduate.

Moreover, if we would like to play it safe and ensure that we spot as many students as we can who are "unlikely to graduate", even if they may be "likely to graduate", we can increase our strictness in determining their likelihood of graduating, and spot more of them. This is because there is no harm in flagging a student who is "likely to graduate" as "unlikely to graduate". But there may be severe repercussions if we flag a student who is "unlikely to graduate" as "likely to graduate" and do not attend to the student.